<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
  </head>
  <body>
    <div id="meetupTitles">
      <div>
        <label><input type="radio" name="meetupId" value="1" v-model="IdValue"/> 1</label>
        <label><input type="radio" name="meetupId" value="2" v-model="IdValue"/> 2</label>
        <label><input type="radio" name="meetupId" value="3" v-model="IdValue"/> 3</label>
        <label><input type="radio" name="meetupId" value="4" v-model="IdValue"/> 4</label>
        <label><input type="radio" name="meetupId" value="5" v-model="IdValue"/> 5</label>

        <hr />

        <h3>{{ meetupTitle }}</h3>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
